/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "typog";
@import "weapons";
@import "framework";


h1{
  text-align: center;
}

.body{
  margin-top: 15px;
}

.add-user-container{
  margin-bottom: 20px;
  @media (min-width: 768px) {
    input{ 
      width: 50%;
    }
  }
}

.hidden{
	display: none !important;
}

#no-data-message{
  margin-top: 20px;
}

.game-intro{
  margin-top: 50px;
  margin-bottom: 50px;
}

.weapons-row{
  margin-bottom: 40px;
  > div {
    padding: 5px;
    cursor: pointer;
    &:hover{
      outline: rgba(229, 151, 0, 255) auto 5px;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}

.weapon-select{
  &.selected{
    outline: rgba(229, 151, 0, 255) auto 5px;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.versus{
  padding: 0 20px;
}

#play-pc-v-pc{
  margin-bottom: 30px;
}

#game-result{
  margin-bottom: 40px;
}
#game-result-message{
  font-weight: bold;
  &.draw{
    color: #8c7001;
  }
  &.win{
    color: green;
  }
  &.loss{
    color: $red;
  }
}

#invalid-user-message{
  color: $red;
  margin-top: 20px;
  margin-bottom: 0;
}

#play-game, #player-b-weapon, #player-a-weapon{
  @include btn();
  background: black;
  color: white;
  margin-bottom: 40px;
  font-size: 20px;
  padding: 16px 30px;
}
#player-b-weapon, #player-a-weapon{
  &:hover{
    cursor: default;
  }
}

#leaderboard-data{
  margin-top: 40px;
}

#leaderboard-data-body{
	.selected{
		background: $pale-teal;
		button{
			display: none;
		}
	}
  button{
    @include btn();
    @include btn-primary();
  }
}